<mat-toolbar class="header">
  <mat-toolbar-row class="header__inner">
    <div class="header__left">
      <p class="header__title">
        <a routerLink="/about" class="header__link">
          OKR
        </a>
      </p>
    </div>
    <div class="header__right">
      <button
        class="header__login"
        mat-raised-button
        color="primary"
        (click)="login()"
        matTooltip="Googleアカウントでログインする"
      >
        ログイン
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
