@import 'variables';
@import 'mixins';

.header {
  &__inner {
    align-items: center;
    justify-content: space-between;
    background-color: #e9e3df;
    padding: 0 6%;
    @include sm {
      padding: 0 3%;
    }
  }
  &__logo {
    margin: 0;
    padding-top: 2em;
    @include sm {
      padding-top: 1em;
    }
  }
  &__link {
    text-decoration: none;
    color: inherit;
  }
  &__right {
    padding-top: 0.6em;
  }
  &__nav {
    list-style: none;
    a {
      font-size: 14px;
      padding: 0 21px;
      letter-spacing: 1.3px;
    }
  }
  &__login {
    border-radius: 36px;
    padding: 6px 24px;
    &:hover {
      background-color: #9e9e9e;
    }
    @include sm {
      padding: 3px 12px;
    }
  }
}
