<mat-toolbar class="header">
  <mat-toolbar-row class="header__inner">
    <div class="header__left">
      <div class="header__logo">
        <a routerLink="/about" class="header__link">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="111"
            height="28"
            viewBox="0 0 171.21 55.779"
          >
            <defs>
              <linearGradient
                id="linear-gradient"
                x1="0.119"
                y1="0.131"
                x2="1"
                y2="1"
                gradientUnits="objectBoundingBox"
              >
                <stop offset="0" stop-color="#86ed8e" />
                <stop offset="1" stop-color="#52d15e" />
              </linearGradient>
              <linearGradient
                id="linear-gradient-2"
                x1="0.881"
                y1="0.869"
                x2="0"
                y2="0"
                xlink:href="#linear-gradient"
              />
            </defs>
            <g
              id="グループ_1"
              data-name="グループ 1"
              transform="translate(-18.79 577.213)"
            >
              <rect
                id="長方形_4"
                data-name="長方形 4"
                width="15"
                height="26"
                rx="5"
                transform="translate(51.088 -539.818) rotate(-45)"
                opacity="0.997"
                fill="url(#linear-gradient)"
              />
              <rect
                id="長方形_6"
                data-name="長方形 6"
                width="15"
                height="26"
                rx="5"
                transform="translate(54.152 -577.213) rotate(45)"
                opacity="0.997"
                fill="url(#linear-gradient-2)"
              />
              <rect
                id="長方形_7"
                data-name="長方形 7"
                width="15"
                height="26"
                rx="5"
                transform="translate(18.79 -539.818) rotate(-45)"
                opacity="0.997"
                fill="url(#linear-gradient-2)"
              />
              <text
                id="OKR"
                transform="translate(95 -535)"
                fill="#202233"
                font-size="38"
                font-family="HiraginoSans-W6, Hiragino Sans"
                letter-spacing="0.05em"
              >
                <tspan x="0" y="0">OKR</tspan>
              </text>
            </g>
          </svg>
        </a>
      </div>
    </div>
    <ng-container
      *ngIf="this.authService.user$ | async as user; else notUser"
      class="header__mypage"
    >
      <button
        mat-mini-fab
        [matMenuTriggerFor]="userMenu"
        [style.background-image]="'url(' + user?.avatarURL + ')'"
        class="header__icon"
      ></button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item routerLink="/manage/edit" class="header__menu">
          <mat-icon>edit</mat-icon>
          <span>OKRを作成する</span>
        </button>
        <button
          mat-menu-item
          routerLink="/manage/okr-edit"
          class="header__menu"
        >
          <mat-icon>edit</mat-icon>
          <span>タスクを作成する</span>
        </button>
        <button
          mat-menu-item
          *ngIf="!(this.authService.user$ | async)"
          (click)="login()"
          class="header__menu"
        >
          <mat-icon>login</mat-icon>
          <span>ログイン</span>
        </button>
        <button mat-menu-item routerLink="/settings" class="header__menu">
          <mat-icon>settings</mat-icon>
          <span>設定</span>
        </button>
        <button
          mat-menu-item
          *ngIf="this.authService.user$ | async"
          (click)="logout()"
        >
          <mat-icon>logout</mat-icon>
          <span>ログアウト</span>
        </button>
      </mat-menu>
    </ng-container>
    <ng-template #notUser>
      <div class="header__right">
        <a
          class="header__login"
          mat-raised-button
          color="primary"
          (click)="login()"
          matTooltip="Googleアカウントで始める"
        >
          今すぐ試す
        </a>
      </div>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
