<mat-toolbar class="header">
  <mat-toolbar-row class="header__inner">
    <div class="header__left">
      <div class="header__logo">
        <a routerLink="/about" class="header__link">
          OKR
        </a>
      </div>
    </div>
    <ng-container
      *ngIf="this.authService.user$ | async as user; else notUser"
      class="header__mypage"
    >
      <button
        mat-mini-fab
        [matMenuTriggerFor]="userMenu"
        [style.background-image]="'url(' + user?.avatarURL + ')'"
        class="header__icon"
      ></button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item routerLink="/manage/edit" class="header__menu">
          <mat-icon>edit</mat-icon>
          <span>OKRを作成する</span>
        </button>
        <button
          mat-menu-item
          routerLink="/manage/okr-edit"
          class="header__menu"
        >
          <mat-icon>edit</mat-icon>
          <span>タスクを作成する</span>
        </button>
        <button
          mat-menu-item
          *ngIf="!(this.authService.user$ | async)"
          (click)="login()"
          class="header__menu"
        >
          <mat-icon>login</mat-icon>
          <span>ログイン</span>
        </button>
        <button mat-menu-item routerLink="/settings" class="header__menu">
          <mat-icon>settings</mat-icon>
          <span>設定</span>
        </button>
        <button
          mat-menu-item
          *ngIf="this.authService.user$ | async"
          (click)="logout()"
        >
          <mat-icon>logout</mat-icon>
          <span>ログアウト</span>
        </button>
      </mat-menu>
    </ng-container>
    <ng-template #notUser>
      <div class="header__right">
        <a
          class="header__login"
          mat-raised-button
          color="primary"
          (click)="login()"
          matTooltip="Googleアカウントで始める"
        >
          今すぐ試す
        </a>
      </div>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
