@import 'variables';
@import 'mixins';

.container {
  padding: 56px;
  max-width: 600px;
  margin: 0 auto;
  @include sm {
    padding: 0 16px;
  }
}

.terms {
  @include sm {
    padding: 30px 0;
    &__title {
      text-align: center;
      font-size: 20px;
      margin: 0;
      padding-bottom: 24px;
    }
  }
}

hr {
  @include sm {
    margin-bottom: 40px;
  }
}

p {
  line-height: 1.5;
  font-size: 14px;
}
