rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{uid} {
      allow read, create: if true;
      allow delete, update: if request.auth.uid == resource.data.uid;
    }
    match /users/{uid}/okrs/{id} {
      allow read: if true;
      allow create: if request.auth.uid != null;
      allow update: if request.auth.uid == resource.data.CreatorId && resource.data.CreatorId == request.resource.data.CreatorId;
      allow delete: if request.auth.uid == resource.data.CreatorId;
    }
    match /{documents=**} {
      allow read, write: if true;
    }
  }
}
