.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav {
  top: 64px;
  width: 230px;
}

.spacer {
  flex: 1;
}

.search {
  display: flex;
  position: relative;
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 32px;
    padding-left: 16px;
    line-height: 32px;
    border-radius: 16px;
  }
  mat-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
  }
}

mat-sidenav-content {
  z-index: 3;
  padding-top: 64px;
}

button {
  margin-right: 16px;
}

.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  padding: 0 16px;
  height: 64px;
}
