<mat-sidenav-container class="example-container">
  <mat-sidenav-content>
    <router-outlet></router-outlet>

    <mat-toolbar class="mat-toolbar header">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1>OKR APP</h1>
      <span class="spacer"></span>

      <div class="search">
        <input type="text" autocomplete="off" value="検索" />
        <mat-icon>search</mat-icon>
      </div>

      <button
        *ngIf="!(user$ | async)"
        (click)="login()"
        mat-raised-button
        color="primary"
      >
        ログイン
      </button>
      <button
        *ngIf="user$ | async"
        (click)="logout()"
        mat-raised-button
        color="primary"
      >
        ログアウト
      </button>
    </mat-toolbar>
  </mat-sidenav-content>

  <mat-sidenav
    #sidenav
    fixedInViewport
    fixedTopGap="64"
    mode="side"
    [opened]="opened"
  >
    <mat-nav-list>
      <a mat-list-item routerLink="/manage/home">
        <mat-icon>home</mat-icon>
        ホーム
      </a>
      <a mat-list-item routerLink="/manage/edit">
        <mat-icon>edit</mat-icon>
        入力
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/about">
        <mat-icon>info</mat-icon>
        OKRについて
      </a>
      <a mat-list-item routerLink="/intl/terms">
        <mat-icon>rule</mat-icon>
        利用規約
      </a>
      <a mat-list-item routerLink="/intl/legal">
        <mat-icon>note</mat-icon>
        特定商取引法に基づく表記
      </a>
      <mat-divider></mat-divider>
      <footer>
        <p class="copyright">© Ryohei Mukaida</p>
      </footer>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
