<mat-sidenav-container class="example-container">
  <mat-sidenav-content>
    <router-outlet></router-outlet>

    <mat-toolbar class="mat-toolbar header">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1>OKR APP</h1>
      <button
        *ngIf="!user$"
        (click)="login()"
        mat-raised-button
        color="primary"
      >
        ログイン
      </button>
      <button
        *ngIf="user$ | async"
        (click)="logout()"
        mat-raised-button
        color="primary"
      >
        ログアウト
      </button>
    </mat-toolbar>
  </mat-sidenav-content>

  <mat-sidenav
    #sidenav
    fixedInViewport
    fixedTopGap="64"
    mode="side"
    [opened]="opened"
  >
    <mat-nav-list>
      <a mat-list-item>Example</a>
      <a mat-list-item routerLink="/manage/home">ホーム</a>
      <a mat-list-item>OKR</a>
      <a mat-list-item>Think</a>
      <a mat-list-item routerLink="/manage/edit">入力</a>
      <a mat-list-item routerLink="/about">サービス紹介</a>
      <a mat-list-item>利用規約</a>
      <a mat-list-item>特定商取引法に基づく規約</a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
