<div class="home-detail-title">
  <ng-container *ngIf="okr$ | async as okr">
    <div class="home-detail-title__path">
      <a routerLink="/manage/home">OKR管理</a>
      <a routerLink="/manage/home/homedetail" [queryParams]="{ v: okr.okrId }"
        >/{{ okr.title }}</a
      >
    </div>
    <form [formGroup]="formGroup" class="home-detail-title__content">
      <input
        type="text"
        formControlName="title"
        (keyup)="updateTitle(okr.okrId, formGroup.value)"
      />
    </form>
    <h3 class="home-detail-title__date">
      📅期間: {{ okr.start.toDate() | date: 'yyyy年MM月dd日' }}〜{{
        okr.end.toDate() | date: 'yyyy年MM月dd日'
      }}
    </h3>
  </ng-container>
</div>
