@import 'variables';
@import 'mixins';

.container {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 24px;
}
.hero {
  position: relative;
  padding: 160px 0 160px 0;
  text-align: left;
  &__main {
    position: relative;
    padding-right: 50%;
  }
  &__main-text {
    position: relative;
    margin: 0;
    font-size: 32px;
    font-weight: 600;
  }
  &__sub-text {
    position: relative;
    font-size: 16px;
    margin: 16px auto 0;
  }
  &__image {
    position: absolute;
    right: 12%;
    bottom: 20px;
  }
  &__image1 {
    width: 100%;
    filter: drop-shadow(0px 8px 14px rgba(51, 26, 0, 0.2));
  }
  &__action {
    margin-top: 30px;
  }
}
