<section class="hero">
  <div class="container">
    <div class="hero__main">
      <p class="hero__main-text">
        <span>目標の可視性を提供する</span>
        <span>OKR管理ツール</span>
      </p>

      <p></p>
      <p class="hero__sub-text">
        個人で達成したい目標を設定し、達成度を計算してくれます。<br />
        人生における幸福度をサポートします。
      </p>
      <div class="hero__image">
        <img class="hero__image1" src="assets/images/hero-item.png" alt="" />
      </div>
      <div class="hero__action">
        <a class="btn-main" (click)="login()" mat-raised-button color="primary">
          ログインして始める
        </a>
      </div>
    </div>
  </div>
</section>
