<div class="header">
  <p class="header__logo">
    OKR管理ツール
  </p>
  <nav class="nav">
    <a href="" class="nav__item">OKRとは</a>
    <a href="" class="nav__item">Menu</a>
    <a href="" class="nav__item">Menu</a>
    <a href="" class="nav__item">お問い合わせ</a>
  </nav>
</div>
<div class="top-image">
  <img src="assets/images/person.png" alt="" />
</div>
<h1>Objectives and Key Results.</h1>
<h2>目標と主要な結果</h2>
<div class="login">
  <button (click)="login()" mat-raised-button color="primary">
    ログインして始める
  </button>
</div>
