@import 'variables';
@import 'mixins';

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 48px 0;
  @include md {
    padding: 12px 0;
  }
  @include sm {
    padding: 16px;
  }
}
.hero {
  background-color: #e9e3df;
  position: relative;
  padding: 80px 0 135px 0;
  @include md {
    padding: 0;
  }
  @include sm {
    padding: 0 0 42px 0;
  }
  &__main {
    position: relative;
    padding-right: 50%;
    @include md {
      padding: 36px 0;
    }
  }
  &__main-text {
    font-weight: 700;
    font-size: 4vw;
    margin-bottom: 24px;
    letter-spacing: 2px;
    line-height: 1.4;
    @include md {
      width: 400px;
      margin: 0 auto;
      padding-bottom: 30px;
      font-size: 42px;
    }
    @include sm {
      width: 270px;
      margin: 0 auto;
      font-size: 32px;
    }
    span {
      display: block;
      @include sm {
        max-width: 336px;
        margin: 0 auto;
        text-align: start;
      }
    }
  }
  &__description {
    color: #545454;
    @include md {
      width: 400px;
      margin: 0 auto;
      padding-bottom: 30px;
    }
    @include sm {
      width: 100%;
      white-space: pre-wrap;
      overflow-wrap: break-word;
    }
  }
  &__sub-text {
    position: relative;
    display: block;
    font-size: 1em;
    margin-bottom: 8px;
    @include md {
      font-size: 12px;
    }
  }
  &__image {
    z-index: 1000;
    position: absolute;
    right: 0;
    max-width: 50%;
    top: -10px;
    @include md {
      position: relative;
      margin: 0 auto;
    }
    @include sm {
      max-width: 100%;
    }
  }
  &__image::before {
    content: '';
    position: absolute;
    top: 60%;
    left: 45%;
    transform: translate(-50%, -50%);
    width: calc(85%);
    height: calc(45% - -70px);
    border-image-source: repeating-linear-gradient(
      45deg,
      #fff,
      #fff 3px,
      #c3a400 0,
      #c3a400 6px
    );
    border-image-slice: 30;
    border-image-repeat: round;
    border-style: solid;
    border-width: 30px;
    @include sm {
      top: 57%;
      left: 46%;
      width: calc(80%);
      height: calc(26% - -70px);
    }
  }
  &__image1 {
    width: 100%;
    filter: drop-shadow(0px 8px 14px rgba(51, 26, 0, 0.2));
  }
  &__action {
    margin-top: 30px;
    @include md {
      margin: 0 auto;
      padding-top: 42px;
      width: 200px;
    }
  }
}

.btn-main {
  border-radius: 36px;
  padding: 6px 24px;
  &:hover {
    background-color: #9e9e9e;
  }
  @include sm {
    display: block;
  }
}
