<section class="hero">
  <div class="container">
    <div class="hero__main">
      <p class="hero__main-text">
        <span>すべての目標を、</span>
        <span>可視化する。</span>
      </p>

      <div class="hero__description">
        <span class="hero__sub-text"
          >OKR管理ツールは、ソリューションによる解決で目標を可視化します。</span
        >
        <span class="hero__sub-text"
          >利用者一人ひとりの目標に紐づく、あらゆる情報を蓄積。<br
        /></span>
        <span class="hero__sub-text"
          >「目標」「幸福度」「人生」それぞれ高める資産にしていきます。</span
        >
      </div>

      <div class="hero__image">
        <img
          class="hero__image1"
          src="assets/images/hero-item.png"
          alt="LP画像"
        />
      </div>
      <div class="hero__back"></div>
      <div class="hero__action">
        <a class="btn-main" (click)="login()" mat-raised-button color="primary">
          ログインして始める
          <mat-icon>arrow_right_alt</mat-icon>
        </a>
      </div>
    </div>
  </div>
</section>
