<div class="achieve">
  <div class="container">
    <ng-container *ngIf="secondOkr; else blank">
      <div class="achieve__main">
        <ng-container *ngFor="let secondOkr of secondOkrs$ | async">
          <ng-container *ngIf="!secondOkr.isComplete">
            <div class="achieve__secondOkr">
              <a
                [routerLink]="['/manage/complete']"
                [queryParams]="{ v: secondOkr.secondOkrId }"
                class="achieve__calendar"
              >
                📅{{ secondOkr.start.toDate() | date: 'yyyy年MM月dd日' }}〜{{
                  secondOkr.end.toDate() | date: 'yyyy年MM月dd日'
                }}
              </a>
              <a
                (click)="deleteSecondOkr(secondOkr.secondOkrId)"
                class="achieve__delete"
              >
                <mat-icon>
                  delete_outline
                </mat-icon>
              </a>
            </div>
          </ng-container>
        </ng-container>
      </div>
      <div class="achieve__action">
        <ng-container *ngIf="secondOkrId; else createSecondOkr">
          <a
            color="primary"
            mat-raised-button
            routerLink="/manage/secondOkr"
            [queryParams]="{ v: secondOkrId }"
          >
            タスクに進む
          </a>
        </ng-container>
        <ng-template #createSecondOkr>
          <a color="primary" mat-raised-button routerLink="/manage/okr-edit">
            タスクを作成する
          </a>
        </ng-template>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #blank>
  <div class="no-data">
    <h1 class="no-data__title">まだタスクが完了されていません</h1>
    <div class="achieve__action">
      <ng-container *ngIf="secondOkrId; else createSecondOkr">
        <a
          mat-raised-button
          routerLink="/manage/secondOkr"
          [queryParams]="{ v: secondOkrId }"
        >
          タスクに進む
        </a>
      </ng-container>
      <ng-template #createSecondOkr>
        <a mat-raised-button routerLink="/manage/okr-edit">
          タスクを作成する
        </a>
      </ng-template>
    </div>
  </div>
</ng-template>
