@import 'variables';
@import 'mixins';

.container {
  margin: 0 auto;
  @include sm {
    padding: 0 16px;
  }
}

.achieve {
  padding: 12px 62px;
  text-align: center;
  &__main {
    margin-bottom: 24px;
  }
  &__secondOkr {
    display: flex;
    justify-content: center;
    a {
      margin: 0 auto;
      width: 300px;
      text-decoration: none;
      color: inherit;
      &:hover {
        background-color: rgba(0, 0, 0, 0.12);
      }
    }
  }
  &__title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 56px;
  }
  &__title-content {
    position: relative;
    font-size: 26px;
    margin: 0;
    letter-spacing: 1.5px;
    &::before {
      content: '';
      position: absolute;
      top: 60px;
      right: 50%;
      transform: translateX(50%);
      width: 70px;
      height: 5px;
      background-color: #757575;
      border-radius: 2px;
    }
  }
  &__calendar {
    margin: 0;
    display: block;
  }
  @include sm {
    padding: 40px 0;
  }
  &__delete {
    margin: 0;
    width: inherit;
    cursor: pointer;
  }
}

.no-data {
  @include sm {
    padding: 0;
  }
  &__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 36px;
    @include sm {
      font-size: 20px;
      font-weight: 400;
    }
  }
}
