<div class="achieve">
  <div class="container">
    <div class="achieve__title">
      <h1 class="achieve__title-content">達成済みのOKR</h1>
    </div>
    <ng-container *ngIf="secondOkr; else blank">
      <div class="achieve__main">
        <ng-container *ngFor="let secondOkr of secondOkrs$ | async">
          <ng-container *ngIf="!secondOkr.isComplete">
            <div class="achieve__secondOkr">
              <a
                [routerLink]="['/manage/complete']"
                [queryParams]="{ v: secondOkr.secondOkrId }"
                class="achieve__calendar"
              >
                📅{{ secondOkr.start.toDate() | date: 'yyyy年MM月dd日' }}〜{{
                  secondOkr.end.toDate() | date: 'yyyy年MM月dd日'
                }}
              </a>
              <a
                (click)="deleteSecondOkr(secondOkr.secondOkrId)"
                class="achieve__delete"
              >
                <mat-icon>
                  delete_outline
                </mat-icon>
              </a>
            </div>
          </ng-container>
        </ng-container>
      </div>
      <div class="achieve__action">
        <ng-container *ngIf="secondOkrId; else createSecondOkr">
          <a
            color="primary"
            mat-raised-button
            routerLink="/manage/secondOkr"
            [queryParams]="{ v: secondOkrId }"
          >
            進行中のOKRに進む
          </a>
        </ng-container>
        <ng-template #createSecondOkr>
          <a color="primary" mat-raised-button routerLink="/manage/okr-edit">
            進行中のOKRを作成する
          </a>
        </ng-template>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #blank>
  <div class="no-data">
    <img
      src="assets/images/no-data.svg"
      alt="未達成画像"
      class="no-data__img"
    />
    <div class="no-data__content">
      <h1 class="no-data__title">達成済みのOKRはありません</h1>
      <p class="no-data__text">
        <span>
          進行中のOKRを達成する必要があります
        </span>
      </p>
    </div>
    <div class="achieve__action">
      <ng-container *ngIf="secondOkrId; else createSecondOkr">
        <a
          color="primary"
          mat-raised-button
          routerLink="/manage/secondOkr"
          [queryParams]="{ v: secondOkrId }"
        >
          進行中のOKRに進む
        </a>
      </ng-container>
      <ng-template #createSecondOkr>
        <a mat-raised-button color="primary" routerLink="/manage/okr-edit">
          進行中のOKRを作成する
        </a>
      </ng-template>
    </div>
  </div>
</ng-template>
