<mat-card *ngIf="okr$ | async as okr">
  <h1 class="okr__title">{{ okr.title }}</h1>
  <p class="okr__start">
    期間: {{ okr.start.toDate() | date: 'yyyy年MM月dd日' }}〜{{
      okr.end.toDate() | date: 'yyyy年MM月dd日'
    }}
  </p>

  <div *ngFor="let primary of okr.primaries">
    <p class="okr__primary1">
      {{ primary }}
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon class="menu">more_horiz</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>open_in_full</mat-icon>
          <span>詳細</span>
        </button>
        <button mat-menu-item routerLink="/spreadsheets/{{ okr.id }}">
          <mat-icon>title</mat-icon>
          <span>テーブルに記載</span>
        </button>
        <button mat-menu-item>
          <mat-icon>create</mat-icon>
          <span>名前の変更</span>
        </button>
        <button mat-menu-item>
          <mat-icon>warning</mat-icon>
          <span>コンテンツを削除</span>
        </button>
      </mat-menu>
    </p>
    <form [formGroup]="form">
      <div formArrayName="primaries">
        <div *ngFor="let option of primaries.controls; let i = index">
          <mat-form-field>
            <input
              formControlName="primary"
              type="text"
              matInput
              required
              autocomplete="off"
            />
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  <ng-container *ngFor="let ctrl of primaries.controls; index as i">
    <div [formGroupName]="i">
      <input formControlName="primary" required />
    </div>
  </ng-container>
</mat-card>
