.home-detail-table {
  th,
  td {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.36);
    width: 900px;
    color: rgba(0, 0, 0, 0.36);
    font-weight: 300;
  }
  .header-right,
  .body-right {
    border-right-style: none;
  }
  .header-left,
  .body-left {
    border-left-style: none;
  }
  &__area {
    min-width: 1000px;
    border-collapse: collapse;
  }
  &__open {
    position: absolute;
    right: 9%;
    top: 0%;
    width: 35px;
    display: none;
    cursor: pointer;
    mat-icon {
      padding-top: 4px;
      font-size: 14px;
    }
  }
  td:hover &__open {
    display: inline;
    display: flex;
  }
  input {
    width: 98%;
    height: 100%;
    border-style: none;
  }
  &__add-row,
  &__remove {
    font-size: 14px;
    border-style: none;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.36);
    &:hover {
      background-color: rgba(0, 0, 0, 0.12);
    }
  }
}
