<div class="home-detail">
  <app-home-detail-title></app-home-detail-title>

  <div class="home-detail-table">
    <ng-container *ngFor="let primary of primaries">
      <form [formGroup]="primaryTitles[primary.id]">
        <div
          *ngFor="
            let primaryTitle of primaryTitles[primary.id].controls;
            index as primaryArrayIndex
          "
          class="home-detail-table__title"
        >
          <ng-container [formGroupName]="primaryArrayIndex">
            <input type="text" formControlName="primaryTitle" />
          </ng-container>
        </div>
      </form>
      <form [formGroup]="rows[primary.id]">
        <table class="home-detail-table__area">
          <thead>
            <tr>
              <th class="header-left">key</th>
              <th>target</th>
              <th>current</th>
              <th>percentage</th>
              <th class="header-right">lastUpdate</th>
            </tr>
          </thead>

          <tbody>
            <tr
              *ngFor="let row of rows[primary.id].controls; index as rowIndex"
            >
              <ng-container [formGroupName]="rowIndex">
                <td class="body-left">
                  <div
                    class="home-detail-table__open"
                    (click)="openOkrDialog(row.value.subTaskId)"
                  >
                    <mat-icon>open_in_full</mat-icon>
                    open
                  </div>
                  <input
                    (keyup)="
                      updateSubTaskData(
                        primary.id,
                        row.value.subTaskId,
                        row.value
                      )
                    "
                    type="text"
                    formControlName="key"
                    autocomplete="off"
                    required
                  />
                </td>
                <td>
                  <input
                    (keyup)="
                      updateSubTaskData(
                        primary.id,
                        row.value.subTaskId,
                        row.value
                      )
                    "
                    type="text"
                    formControlName="target"
                    autocomplete="off"
                    required
                  />
                </td>
                <td>
                  <input
                    (keyup)="
                      updateSubTaskData(
                        primary.id,
                        row.value.subTaskId,
                        row.value
                      )
                    "
                    type="text"
                    formControlName="current"
                    autocomplete="off"
                    required
                  />
                </td>
                <td>
                  <input
                    (keyup)="
                      updateSubTaskData(
                        primary.id,
                        row.value.subTaskId,
                        row.value
                      )
                    "
                    type="text"
                    formControlName="percentage"
                    autocomplete="off"
                    required
                  />
                </td>
                <td class="body-right">
                  <input
                    (keyup)="
                      updateSubTaskData(
                        primary.id,
                        row.value.subTaskId,
                        row.value
                      )
                    "
                    type="text"
                    formControlName="lastUpdated"
                    autocomplete="off"
                    required
                  />
                </td>
                <div
                  class="home-detail-table__remove"
                  type="button"
                  (click)="remove(primary.id, rowIndex)"
                >
                  remove
                </div>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </form>
      <div class="home-detail-table__add-row" (click)="addRow(primary.id)">
        ＋Add row
      </div>
    </ng-container>
  </div>
</div>

<div class="okr-delete">
  <mat-divider></mat-divider>
  <div class="okr-delete__text">
    <ng-container *ngIf="okr$ | async as okr">
      <mat-icon>delete</mat-icon>
      <a (click)="okrDeleteDialog(okr.id)">
        OKRを削除
      </a>
    </ng-container>
  </div>
</div>
