<ng-container *ngIf="okr$ | async as okr">
  <h1 class="okr__title">{{ okr.title }}</h1>
  <h3 class="okr__start">
    期間: {{ okr.start.toDate() | date: 'yyyy年MM月dd日' }}〜{{
      okr.end.toDate() | date: 'yyyy年MM月dd日'
    }}
  </h3>
</ng-container>

<ng-container *ngFor="let primary of primaryArray; index as primaryArrayIndex">
  <p>{{ primary.titles }}</p>
  <form [formGroup]="rows[primary.id]">
    <table class="table">
      <thead>
        <tr>
          <th class="header-left">Key</th>
          <th>Target</th>
          <th>current</th>
          <th>percentage</th>
          <th class="header-right">lastupdate</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let row of rows[primary.id].controls; index as rowIndex">
          <ng-container [formGroupName]="rowIndex">
            <td class="body-left">
              <div
                class="open"
                (click)="openOkrDialog(primary.id, primaryArrayIndex)"
              >
                <mat-icon>open_in_full</mat-icon>
                open
              </div>
              <input
                type="text"
                formControlName="Key"
                autocomplete="off"
                required
              />
            </td>
            <td>
              <input
                type="text"
                formControlName="Terget"
                autocomplete="off"
                required
              />
            </td>
            <td>
              <input
                type="text"
                formControlName="Current"
                autocomplete="off"
                required
              />
            </td>
            <td>
              <input
                type="text"
                formControlName="Percentage"
                autocomplete="off"
                required
              />
            </td>
            <td class="body-right">
              <input
                type="text"
                formControlName="LastUpdated"
                autocomplete="off"
                required
              />
            </td>
            <div
              class="remove"
              type="button"
              (click)="remove(primary.id, rowIndex)"
            >
              remove
            </div>
            <button
              type="button"
              (click)="
                updateSubTaskData(primary.id, row.value.subTaskId, row.value)
              "
            >
              作る
            </button>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </form>
  <div class="add-row" (click)="addRow(primary.id)">＋Add row</div>
</ng-container>
