<div class="second-okr">
  <div class="container">
    <div class="second-okr__title">
      <h1 class="second-okr__title-content">進行中の</h1>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="68"
        height="42"
        viewBox="0 0 68 42"
      >
        <text
          id="OKR"
          transform="translate(0 33)"
          font-size="30"
          font-family="ComicSansMS-Bold, Comic Sans MS"
          font-weight="700"
          letter-spacing="0.096em"
        >
          <tspan x="0" y="0">OKR</tspan>
        </text>
      </svg>
    </div>
    <ng-container *ngIf="isComplete === true; else blank">
      <app-second-okr-title></app-second-okr-title>
      <div class="data">
        <div *ngFor="let secondOkrObject of secondOkrObjects; let i = index">
          <form [formGroup]="secondOkrObjectTitles[secondOkrObject.id]">
            <div
              *ngFor="
                let primaryTitle of secondOkrObjectTitles[secondOkrObject.id]
                  .controls;
                index as primaryArrayIndex
              "
              class="second-okr__object"
            >
              <ng-container [formGroupName]="primaryArrayIndex">
                <div class="objective">
                  <span class="objective__title">Objective(目標)：</span>
                  <input
                    (keyup)="
                      updateSecondOkrPrimaryTitle(
                        secondOkrObject,
                        primaryTitle.value.primaryTitle
                      )
                    "
                    type="text"
                    formControlName="primaryTitle"
                    class="objective__form"
                    required
                  />
                </div>
                <mat-error
                  *ngIf="primaryTitle.get('primaryTitle').hasError('required')"
                >
                  必須入力です。
                </mat-error>
                <mat-error
                  *ngIf="primaryTitle.get('primaryTitle').hasError('maxlength')"
                >
                  最大文字数は20文字です。
                </mat-error>
              </ng-container>
            </div>
          </form>
          <div class="second-okr__table">
            <form [formGroup]="rows[secondOkrObject.id]">
              <table>
                <thead>
                  <tr>
                    <th class="item header-left">
                      項目
                      <mat-icon
                        class="table-icon"
                        matTooltip="目標を達成するための項目&#13;&#10;数値的項目を入力"
                      >
                        help_outline
                      </mat-icon>
                    </th>
                    <th class="target">
                      標的
                      <mat-icon class="table-icon" matTooltip="数値を入力">
                        help_outline
                      </mat-icon>
                    </th>
                    <th class="current">
                      現在
                      <mat-icon
                        class="table-icon"
                        matTooltip="達成した数値を入力"
                      >
                        help_outline
                      </mat-icon>
                    </th>
                    <th class="percent">
                      パーセント
                      <mat-icon
                        class="table-icon"
                        matTooltip="自動で更新されます"
                      >
                        help_outline
                      </mat-icon>
                    </th>
                    <th class="last-update header-right">更新日</th>
                  </tr>
                </thead>

                <tbody>
                  <tr
                    *ngFor="
                      let row of rows[secondOkrObject.id].controls;
                      index as rowIndex
                    "
                  >
                    <ng-container [formGroupName]="rowIndex">
                      <td class="body-left">
                        <input
                          (keyup)="
                            updateSecondOkrKeyResult(
                              secondOkrObject.id,
                              row.value.secondOkrKeyResultId,
                              row.value,
                              rows[secondOkrObject.id].controls.length
                            )
                          "
                          type="text"
                          formControlName="key"
                          autocomplete="off"
                          required
                        />
                        <mat-error *ngIf="row.get('key').hasError('required')">
                          必須入力です。
                        </mat-error>
                        <mat-error *ngIf="row.get('key').hasError('maxlength')">
                          最大文字数は20文字です。
                        </mat-error>
                      </td>
                      <td>
                        <input
                          (keyup)="
                            updateSecondOkrKeyResult(
                              secondOkrObject.id,
                              row.value.secondOkrKeyResultId,
                              row.value,
                              rows[secondOkrObject.id].controls.length
                            )
                          "
                          name="target"
                          type="text"
                          formControlName="target"
                          autocomplete="off"
                          required
                          maxlength="20"
                        />
                        <mat-error
                          *ngIf="row.get('target').hasError('required')"
                        >
                          必須入力です。
                        </mat-error>
                        <mat-error
                          *ngIf="row.get('target').hasError('pattern')"
                        >
                          半角数値で入力してください。
                        </mat-error>
                        <mat-error
                          *ngIf="row.get('target').hasError('maxlength')"
                        >
                          最大数は999までです。
                        </mat-error>
                      </td>
                      <td>
                        <input
                          (keyup)="
                            updateSecondOkrKeyResult(
                              secondOkrObject.id,
                              row.value.secondOkrKeyResultId,
                              row.value,
                              rows[secondOkrObject.id].controls.length
                            )
                          "
                          type="text"
                          formControlName="current"
                          autocomplete="off"
                          required
                        />
                        <mat-error
                          *ngIf="row.get('current').hasError('required')"
                        >
                          必須入力です。
                        </mat-error>
                        <mat-error
                          *ngIf="row.get('current').hasError('pattern')"
                        >
                          半角数値で入力してください。
                        </mat-error>
                        <mat-error
                          *ngIf="row.get('current').hasError('maxlength')"
                        >
                          最大数は999までです。
                        </mat-error>
                      </td>
                      <td>
                        <input
                          type="text"
                          formControlName="percentage"
                          autocomplete="off"
                          disabled
                        />
                      </td>
                      <td class="body-right">
                        <input
                          type="text"
                          formControlName="lastUpdated"
                          autocomplete="off"
                          disabled
                        />
                      </td>
                      <div
                        class="second-okr__remove"
                        type="button"
                        (click)="removeRow(secondOkrObject.id, rowIndex)"
                      >
                        ➖削除
                      </div>
                    </ng-container>
                  </tr>
                  <div
                    *ngIf="rows[secondOkrObject.id].length < 3"
                    (click)="addRow(secondOkrObject.id)"
                    class="add-row second-okr__add-row"
                  >
                    ➕追加
                  </div>
                </tbody>
              </table>
            </form>
          </div>
          <div class="second-okr__average">
            <span class="second-okr__average-text">達成度</span>
            <ng-container *ngIf="secondOkrObject.average === 0; else blank">
              <span>{{ secondOkrObject.average }}%</span>
            </ng-container>
            <ng-template #blank>
              <span>{{ secondOkrObject.average }}%</span>
            </ng-template>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #blank>
  <div class="not-exist">
    <img
      src="assets/images/no-data.svg"
      alt="フォーム画像"
      class="not-exist__img"
    />
    <div class="not-exist__content">
      <h1 class="not-exist__title">進行中のOKRが作成されていません</h1>
      <p class="not-exist__text">2番目のOKRを作成しましょう！</p>
    </div>
    <a
      mat-raised-button
      color="primary"
      [routerLink]="['/manage/okr-edit']"
      class="not-exist__action"
    >
      2番目のOKRを作成する
    </a>
  </div>
</ng-template>
