<div class="second-okr">
  <div class="container">
    <h1 class="second-okr__title">進行中のOKR</h1>
    <ng-container *ngIf="isComplete === true; else blank">
      <app-second-okr-title></app-second-okr-title>
      <div class="data">
        <div *ngFor="let secondOkrObject of secondOkrObjects; let i = index">
          <form [formGroup]="secondOkrObjectTitles[secondOkrObject.id]">
            <div
              *ngFor="
                let primaryTitle of secondOkrObjectTitles[secondOkrObject.id]
                  .controls;
                index as primaryArrayIndex
              "
              class="second-okr__object"
            >
              <ng-container [formGroupName]="primaryArrayIndex">
                <input type="text" formControlName="primaryTitle" />
              </ng-container>
            </div>
          </form>
          <div class="second-okr__table">
            <form [formGroup]="rows[secondOkrObject.id]">
              <table>
                <thead>
                  <tr>
                    <th class="header-left">
                      項目
                      <mat-icon
                        matTooltip="目標を達成するための項目&#13;&#10;数値的項目を入力"
                      >
                        help_outline
                      </mat-icon>
                    </th>
                    <th>
                      標的
                      <mat-icon matTooltip="個数の入力">
                        help_outline
                      </mat-icon>
                    </th>
                    <th>
                      現在
                      <mat-icon matTooltip="達成数を入力">
                        help_outline
                      </mat-icon>
                    </th>
                    <th>
                      パーセント
                      <mat-icon matTooltip="自動で更新されます">
                        help_outline
                      </mat-icon>
                    </th>
                    <th class="header-right">更新日</th>
                  </tr>
                </thead>

                <tbody>
                  <tr
                    *ngFor="
                      let row of rows[secondOkrObject.id].controls;
                      index as rowIndex
                    "
                  >
                    <ng-container [formGroupName]="rowIndex">
                      <td class="body-left">
                        <input
                          (keyup)="
                            updateSecondOkrKeyResult(
                              secondOkrObject.id,
                              row.value.secondOkrKeyResultId,
                              row.value
                            )
                          "
                          type="text"
                          formControlName="key"
                          autocomplete="off"
                          required
                        />
                      </td>
                      <td>
                        <input
                          (keyup)="
                            updateSecondOkrKeyResult(
                              secondOkrObject.id,
                              row.value.secondOkrKeyResultId,
                              row.value
                            )
                          "
                          type="text"
                          formControlName="target"
                          autocomplete="off"
                          required
                        />
                      </td>
                      <td>
                        <input
                          (keyup)="
                            updateSecondOkrKeyResult(
                              secondOkrObject.id,
                              row.value.secondOkrKeyResultId,
                              row.value
                            )
                          "
                          type="text"
                          formControlName="current"
                          autocomplete="off"
                          required
                        />
                      </td>
                      <td>
                        <input
                          type="text"
                          formControlName="percentage"
                          autocomplete="off"
                          required
                        />
                      </td>
                      <td class="body-right">
                        <input
                          type="text"
                          formControlName="lastUpdated"
                          autocomplete="off"
                          required
                        />
                      </td>
                      <div
                        class="second-okr__remove"
                        type="button"
                        (click)="removeRow(secondOkrObject.id, rowIndex)"
                      >
                        removeRow
                      </div>
                    </ng-container>
                  </tr>
                  <div
                    *ngIf="rows[secondOkrObject.id].length < 3"
                    (click)="addRow(secondOkrObject.id)"
                    class="second-okr__add-row"
                  >
                    ＋addRow
                  </div>
                </tbody>
              </table>
            </form>
          </div>
          <div class="second-okr__average">
            <span class="second-okr__average-text">達成度</span>
            <ng-container *ngIf="secondOkrObject.average === 0; else blank">
              <span>{{ secondOkrObject.average }}%</span>
            </ng-container>
            <ng-template #blank>
              <span
                >{{
                  (secondOkrObject.average /
                    (rows[secondOkrObject.id].controls.length * 100)) *
                    100
                }}%</span
              >
            </ng-template>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #blank>
  <div class="not-exist">
    <img
      src="assets/images/no-data.svg"
      alt="フォーム画像"
      class="not-exist__img"
    />
    <div class="not-exist__content">
      <h1 class="not-exist__title">進行中のokrがありません。</h1>
      <p class="not-exist__text">2番目のokrを作成しましょう！</p>
    </div>
    <a
      mat-raised-button
      color="primary"
      [routerLink]="['/manage/okr-edit']"
      class="not-exist__action"
    >
      okrを作成する
    </a>
  </div>
</ng-template>
