<div class="second-okr-title">
  <div class="page-toolbar-structure">
    <ng-container *ngIf="secondOkr$ | async as secondOkr">
      <p class="page-toolbar-structure__left">
        📅期間: {{ secondOkr.start.toDate() | date: 'yyyy年MM月dd日' }}〜{{
          secondOkr.end.toDate() | date: 'yyyy年MM月dd日'
        }}
      </p>
      <div class="page-toolbar-structure__right">
        <button
          mat-raised-button
          (click)="secondOkrComplete()"
          class="is-completed"
        >
          <span class="material-icons">
            check_circle_outline
          </span>
          完了する
        </button>
        <span class="material-icons">
          schedule
        </span>
        <p>残り{{ differenceInDay }}日</p>
      </div>
    </ng-container>
  </div>
</div>
