@import 'mixins';

.okr {
  padding-bottom: 36px;
  max-width: 960px;
  margin: 0 auto;
  @include md {
    max-width: 500px;
    margin: 0 auto;
  }
  @include sm {
    width: 356px;
    margin: 0 auto;
  }
  &__form-container {
    width: 100%;
    display: flex;
    @include md {
      display: block;
    }
  }
  &__title {
    position: relative;
    display: flex;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 36px;
    span {
      width: 270px;
      &::after {
        content: ':';
      }
      @include md {
        &::after {
          display: none;
        }
      }
    }
    .mat-error {
      font-size: 16px;
    }
    @include md {
      display: block;
      &::after {
        display: none;
      }
    }
    @include sm {
      display: block;
      padding-bottom: 20px;
      font-size: 24px;
      width: 100%;
      margin: 0;
    }
  }
  &__objective-wrapper {
    margin-top: 6px;
    width: 100%;
    @include sm {
      padding: 0;
    }
  }
  &__objective {
    width: 100%;
    border: none;
    font-size: 28px;
    font-weight: 700;
    padding: 0;
    @include sm {
      font-size: 24px;
      padding: 0;
    }
  }
  &__icon {
    cursor: pointer;
    @include md {
      position: absolute;
      top: 0;
      right: 0;
    }
    @include sm {
      position: absolute;
      top: -3%;
      right: 0;
    }
  }
  &__keyResults {
    display: flex;
    padding-bottom: 24px;
    @include md {
      display: block;
    }
    @include sm {
      width: 100%;
      padding-bottom: 20px;
    }
  }
  &__content {
    width: 100%;
    font-size: 26px;
    &::after {
      content: ':';
    }
    @include md {
      &::after {
        display: none;
      }
    }
    @include sm {
      display: block;
      font-size: 20px;
    }
  }
  &__keyResult-container {
    width: 100%;
    @include sm {
      position: inherit;
      width: 100%;
      right: 0;
      top: 0;
      text-align: start;
    }
  }
  &__keyResult {
    border: none;
    background-color: inherit;
    font-size: 28px;
    margin-top: 3px;
    width: 100%;
    @include sm {
      padding: 0;
      font-size: 20px;
      display: block;
    }
  }
}
