.card {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  &__menu {
    display: block;
    margin: 0 0 0 auto;
  }
  &__body {
    padding: 24px;
    flex: 1;
  }
  &__title {
    margin: 0 auto;
    width: 600px;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 56px;
  }
  &__key {
    font-size: 26px;
  }
  &__sub-titles {
    width: 600px;
    margin: 0 auto;
  }
  &__duration {
    font-size: 12px;
  }
  &__action {
    padding: 16px;
    text-align: center;
  }
  &__span {
    width: 300px;
  }
}
