.okr-dialog {
  &__open {
    width: 103px;
    display: flex;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    mat-icon {
      padding-top: 5px;
      font-size: 14px;
      color: rgba(55, 53, 47, 0.6);
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.12);
    }
  }
  &__open-name {
    position: absolute;
    left: 17px;
    color: rgba(55, 53, 47, 0.6);
  }
  &__data {
    padding: 0 72px 32px;
    max-width: 100%;
  }
  &__title {
    padding-bottom: 16px;
  }
  &__title h1 {
    margin: 0;
  }

  &__list {
    display: flex;
    padding-bottom: 16px;
  }
  &__menu {
    width: 160px;
  }
}
