<div class="okr-dialog">
  <div class="okr-dialog__data">
    <div class="okr-dialog__title">
      <h1>{{ data.key }}</h1>
    </div>
    <div class="okr-dialog__list">
      <div class="okr-dialog__menu">target</div>
      <div class="okr-dialog__text">テスト</div>
    </div>
    <div class="okr-dialog__list">
      <div class="okr-dialog__menu">current</div>
      <div class="okr-dialog__text">テスト</div>
    </div>
    <div class="okr-dialog__list">
      <div class="okr-dialog__menu">percentage</div>
      <div class="okr-dialog__text">テスト</div>
    </div>
    <div class="okr-dialog__list">
      <div class="okr-dialog__menu">lastUpdated</div>
      <div class="okr-dialog__text">テスト</div>
    </div>
  </div>
</div>
