<div class="delete-account-dialog">
  <h2 class="delete-account-dialog__title">退会</h2>
  <div class="delete-account-dialog__content">
    <p>すべてのデータが削除されます。よろしいですか？</p>
    <p>※削除されたデータはもとに戻すことはできません。</p>
  </div>
  <div class="delete-account-dialog__action">
    <button
      mat-raised-button
      (click)="closeDeleteAccountDialog()"
      class="delete-account-dialog__cancel"
    >
      キャンセル
    </button>
    <button color="primary" mat-raised-button (click)="deleteAccount()" s>
      退会する
    </button>
  </div>
</div>
