<div class="second-okr">
  <div class="container">
    <app-complete-okr-title></app-complete-okr-title>
    <div class="data">
      <div *ngFor="let secondOkrObject of secondOkrObjects">
        <form [formGroup]="secondOkrObjectTitles[secondOkrObject.id]">
          <div
            *ngFor="
              let primaryTitle of secondOkrObjectTitles[secondOkrObject.id]
                .controls;
              index as primaryArrayIndex
            "
            class="second-okr__object"
          >
            <ng-container [formGroupName]="primaryArrayIndex">
              <input disabled type="text" formControlName="primaryTitle" />
            </ng-container>
          </div>
        </form>
        <div class="second-okr__table">
          <form [formGroup]="rows[secondOkrObject.id]">
            <table>
              <thead>
                <tr>
                  <th class="header-left">項目</th>
                  <th>標的</th>
                  <th>現在</th>
                  <th>パーセント</th>
                  <th class="header-right">更新日</th>
                </tr>
              </thead>

              <tbody>
                <tr
                  *ngFor="
                    let row of rows[secondOkrObject.id].controls;
                    index as rowIndex
                  "
                >
                  <ng-container [formGroupName]="rowIndex">
                    <td class="body-left">
                      <input
                        (keyup)="
                          updateSecondOkrKeyResult(
                            secondOkrObject.id,
                            row.value.secondOkrKeyResultId,
                            row.value
                          )
                        "
                        disabled
                        type="text"
                        formControlName="key"
                        autocomplete="off"
                        required
                      />
                    </td>
                    <td>
                      <input
                        (keyup)="
                          updateSecondOkrKeyResult(
                            secondOkrObject.id,
                            row.value.secondOkrKeyResultId,
                            row.value
                          )
                        "
                        disabled
                        type="text"
                        formControlName="target"
                        autocomplete="off"
                        required
                      />
                    </td>
                    <td>
                      <input
                        (keyup)="
                          updateSecondOkrKeyResult(
                            secondOkrObject.id,
                            row.value.secondOkrKeyResultId,
                            row.value
                          )
                        "
                        disabled
                        type="text"
                        formControlName="current"
                        autocomplete="off"
                        required
                      />
                    </td>
                    <td>
                      <input
                        disabled
                        type="text"
                        formControlName="percentage"
                        autocomplete="off"
                        required
                      />
                    </td>
                    <td class="body-right">
                      <input
                        disabled
                        type="text"
                        formControlName="lastUpdated"
                        autocomplete="off"
                        required
                      />
                    </td>
                  </ng-container>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
        <div class="second-okr__average">
          <span class="second-okr__average-text">達成度</span>
          <ng-container *ngIf="secondOkrObject.average === 0; else blank">
            <span>{{ secondOkrObject.average }}%</span>
          </ng-container>
          <ng-template #blank>
            <span>{{ secondOkrObject.average }}%</span>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
