<div class="manage-header">
  <ul class="nav">
    <li>
      <a routerLink="/manage/home">
        <span>ホーム</span>
      </a>
    </li>
    <li>
      <ng-container *ngIf="isChildOkr; else blank">
        <ng-container *ngIf="isChildOkrComplete === true; else blank">
          <a (click)="progress()">
            <span>進行中のOKR</span>
          </a>
        </ng-container>
      </ng-container>

      <ng-template #blank>
        <a href="" routerLink="/manage/childOkr">
          <span>進行中のOKR</span>
        </a>
      </ng-template>
    </li>
    <li>
      <a routerLink="/manage/achieve">
        <span>完了したOKR</span>
      </a>
    </li>
  </ul>
</div>
