@import 'variables';
@import 'mixins';

.red {
  color: red;
}

li {
  cursor: pointer;
}

.manage-header {
  position: absolute;
  position: fixed;
  top: 0;
  margin-left: 104px;
  display: flex;
  align-items: center;
  z-index: 1000;
  height: 72px;
  @include sm {
    display: none;
    padding: 0 34px;
  }
  &__titl-row {
    padding-left: 24px;
    min-height: 32px;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    margin: 0;
  }
}

.nav {
  max-width: 1324px;
  z-index: 1000;
  padding: 0;
  display: flex;
  margin: 0 auto;
  list-style: none;
  align-items: center;
  font-size: 14px;
  @include sm {
    display: none;
    padding: 0;
    justify-content: space-between;
  }
  span {
    font-size: 14px;
    color: #6f7782;
    font-weight: 400;
    &:hover {
      color: #000;
    }
  }
  .okr {
    align-items: center;
  }
  a {
    text-decoration: none;
    position: relative;
    padding-left: 24px;
    min-height: 48px;
    align-items: center;
    transition: opacity 0.4s;
    color: #000;
    &::before {
      content: '';
      position: absolute;
      bottom: -13px;
      left: 60%;
      transform: translateX(-50%);
      width: 0;
      background-color: #151b26;
      height: 2px;
      border-radius: 2px;
      transition: width 0.3s;
      @include sm {
        bottom: -5px;
      }
    }
    &:hover {
      &::before {
        width: 75%;
      }
    }
    @include sm {
      font-size: 12px;
      display: flex;
      text-align: center;
      padding: 0 10px;
    }
  }
}
