<div class="manage-header">
  <div class="manage-header__top-bar">
    <h1 class="manage-header__titl-row">{{ transitionTargetArray[i] }}</h1>
    <ul class="nav">
      <li>
        <a (click)="setTransitionTargetIndex(0)" routerLink="/manage/home">
          <span>ホーム</span>
        </a>
      </li>
      <li>
        <ng-container *ngIf="isChildOkr; else blank">
          <ng-container *ngIf="isChildOkrComplete === true; else blank">
            <a (click)="progress()">
              <span>進行中のOKR</span>
            </a>
          </ng-container>
        </ng-container>

        <ng-template #blank>
          <a
            href=""
            (click)="setTransitionTargetIndex(1)"
            routerLink="/manage/child-okr"
          >
            <span>進行中のOKR</span>
          </a>
        </ng-template>
      </li>
      <li>
        <a (click)="setTransitionTargetIndex(2)" routerLink="/manage/achieve">
          <span>完了したOKR</span>
        </a>
      </li>
    </ul>
  </div>
</div>
