.settings {
  margin: 56px auto 24px;
  max-width: 610px;
  &__title {
    font-size: 24px;
  }
  &__profile-title {
    font-size: 20px;
  }
  &__delete-title {
    font-size: 20px;
  }
  &__delete-button {
    display: block;
    margin: 0 0 0 auto;
  }
  &__avatar-image {
    position: relative;
    margin: 0 auto;
    display: block;
    width: 120px;
    height: 120px;
    background-size: cover;
    cursor: pointer;
  }
  &__avatar-icon-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 0;
    left: 0;
    background: rgba(45, 45, 45, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background: rgba(45, 45, 45, 0.8);
      transition: 0.3s;
    }
  }
  &__avatar-icon {
    color: #fff;
  }
  &__avatar-input {
    display: none;
  }
}

.footer {
  text-align: center;
  padding: 24px;
  &__navs {
    margin-bottom: 16px;
    color: rgba(0, 0, 0, 0.6);
  }
  &__copyright {
    color: rgba(0, 0, 0, 0.38);
    font-size: 16px;
  }
  a {
    text-decoration: none;
    margin-right: 16px;
    color: inherit;
  }
}
