<mat-tab-group animationDuration="0ms">
  <div class="mat-tab-container">
    <mat-tab label="プロフィール">
      <div class="settings">
        <div class="settings__container">
          <h1 class="settings__title">アカウント設定</h1>
          <ng-container *ngIf="authService.user$ | async as user">
            <div class="settings__profile-container">
              <h2 class="settings__profile-title">プロフィール</h2>
              <label
                for="avatar-file"
                [style.background-image]="'url(' + user?.avatarURL + ')'"
                alt="プロフィール画像"
                class="settings__avatar-image"
              >
                <div class="settings__avatar-icon-wrap">
                  <mat-icon class="settings__avatar-icon">add_a_photo</mat-icon>
                </div>
              </label>
              <input
                id="avatar-file"
                type="file"
                multiple
                accept=".png, .jpg, .jpeg"
                class="settings__avatar-input"
                (change)="openImageCropDialog($event, imageSelecter)"
                #imageSelecter
              />
            </div>

            <a
              mat-raised-button
              (click)="openDeleteAccountDialog()"
              class="settings__delete-button"
            >
              退会する
            </a>
          </ng-container>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="開発資金をサポートする">
      <div class="support">
        <div class="support__container">
          <h1 class="support__title">開発資金をサポートする</h1>
          <div class="support__text">
            <span
              >プロダクトを使いたい、より良くしたいと思ってくれるコアな
              ユーザーに幾らかのご支援いただきたく思います。</span
            >
          </div>
          <button
            class="support__action"
            (click)="redirectToCheckout()"
            mat-raised-button
            color="primary"
          >
            開発資金をサポートする
          </button>
        </div>
      </div>
    </mat-tab>
  </div>
</mat-tab-group>
