@import 'variables';
@import 'mixins';

.delete-second-okr-dialog {
  text-align: center;
  &__title {
    font-size: 30px;
    margin: 0;
    padding-bottom: 24px;
    letter-spacing: 1.5px;
    @include sm {
      font-size: 24px;
    }
  }
  &__content {
    padding-bottom: 24px;
    @include sm {
      text-align: start;
    }
    span {
      display: block;
      letter-spacing: 1.5px;
    }
  }
  &__actions {
    display: flex;
    justify-content: space-between;
  }
}
