<div class="delete-second-okr-dialog">
  <h1 class="delete-second-okr-dialog__title">OKRを削除しますか？</h1>
  <div class="delete-second-okr-dialog__content">
    <span>1度削除されると元に戻すことはできません。</span>
  </div>
  <div class="delete-second-okr-dialog__actions">
    <a
      (click)="cancel()"
      mat-raised-button
      class="delete-second-okr-dialog__cancel"
      >キャンセル</a
    >
    <a
      (click)="deleteSecondOkr()"
      mat-raised-button
      class="delete-second-okr-dialog__delete-second-okr"
    >
      削除する
    </a>
  </div>
</div>
