<mat-nav-list>
  <a mat-list-item routerLink="/manage/home">
    <mat-icon>home</mat-icon>
    ホーム
  </a>
  <a mat-list-item routerLink="/manage/edit">
    <mat-icon>edit</mat-icon>
    入力
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/about">
    <mat-icon>info</mat-icon>
    OKRについて
  </a>
  <a mat-list-item routerLink="/intl/terms">
    <mat-icon>supervised_user_circle</mat-icon>
    利用規約
  </a>
  <a mat-list-item routerLink="/intl/legal">
    <mat-icon>note</mat-icon>
    特定商取引法に基づく表記
  </a>
  <mat-divider></mat-divider>
  <footer>
    <p class="copyright">© Ryohei Mukaida</p>
  </footer>
</mat-nav-list>
