<div class="points">
  <div class="container">
    <div class="points-title">
      <h2><span class="points-text">OKR管理ツール</span>の特徴</h2>
    </div>
    <ul class="points-contents">
      <li class="points-contents__item" *ngFor="let point of points">
        <div class="points-contents__icon">
          <img src="{{ point.icon }}" />
        </div>
        <dl class="points-contents__date">
          <dt class="points-contents__dt">{{ point.title }}</dt>
          <dd class="points-contents__dd">{{ point.text }}</dd>
        </dl>
      </li>
    </ul>
  </div>
</div>
