<div class="points">
  <div class="container">
    <div class="points-title">
      <p class="points-text">OKR管理ツール<span>の特徴</span></p>
    </div>
    <ul class="points-contents">
      <li class="points-contents__item" *ngFor="let point of points">
        <div
          data-aos="fade-up"
          data-aos-duration="2000"
          class="points-contents__icon"
        >
          <mat-icon>
            {{ point.icon }}
          </mat-icon>
        </div>
        <dl class="points-contents__date">
          <dt class="points-contents__dt">{{ point.title }}</dt>
          <dd class="points-contents__dd">{{ point.text }}</dd>
        </dl>
      </li>
    </ul>
  </div>
</div>
