<section class="use">
  <div class="container">
    <div class="use__row">
      <div class="use__column">
        <h2 class="use__title">OKRとは</h2>
        <p class="use__sub-title">
          OKR
          とは、「目標と主要な結果」であり、チームの測定可能な目標設定に役立つ目標設定の方法です。
          OKR
          は、ほぼすべての目標に適合するように調整できる、シンプルながら非常に柔軟性の高いテンプレートを採用しています。
        </p>
      </div>
    </div>

    <div class="use-list">
      <div class="use-list__row">
        <div class="use-list__columin-large">
          <img
            src="assets/images/use.png"
            alt="OKR説明画像"
            class="use-list__img"
          />
        </div>
        <div class="use-list__columin-medium">
          <div class="use-list__text-stack">
            <h3 class="use-list__title">
              チームのタスク管理ソフトウェアが必要な理由とは？
            </h3>
            <div class="use-list__sub-title">
              <p>
                付箋の整理、メールや To-Do
                リストの検索、最初に着手すべき仕事の見極めに時間がかかる。そんな悩みがある方には、一つの場所でタスクの優先順位を決め、時間を管理し、期日を守ることができるソリューションが必要です。
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
