@import 'variables';
@import 'mixins';

.container {
  @include sm {
    padding: 0 16px;
  }
}

.use {
  @include sm {
    padding: 60px 0;
  }
  &__list {
    padding: 0;
    list-style: none;
    margin-bottom: 80px;
    @include sm {
      margin: 0;
      padding: 32px 24px;
    }
  }
  &__title {
    padding: 54px 0;
    font-weight: 700;
    letter-spacing: 5px;
    text-align: center;
    font-size: 2.5vw;
    @include sm {
      margin: 0;
      padding: 0;
      font-size: 24px;
    }
  }
  &__data-title {
    padding: 0 0 30px 0;
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    @include sm {
      padding: 0 0 16px;
      margin: 0;
      font-size: 20px;
      text-align: center;
    }
  }
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding-bottom: 11em;
    @include md {
      display: block;
    }
  }
  &__img-block {
    position: absolute;
    top: 50;
    left: 0;
    width: 36%;
    height: 100%;
    background-color: #e9e3df;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 11em;
    @include md {
      display: block;
    }
  }
  &__img {
    z-index: 1000;
    display: block;
    max-width: 500px;
    height: auto;
    @include sm {
      width: 250px;
      padding-bottom: 24px;
    }
  }
  &__text {
    text-align: left;
    margin: 0;
    color: #545454;
    span {
      display: block;
      padding-bottom: 10px;
    }
    @include sm {
      margin: 0;
      font-size: 14px;
      text-align: justify;
    }
  }
  &__data {
    margin: 0;
    z-index: 1000;
    @include md {
      text-align: center;
      margin: 0 auto;
    }
    @include sm {
      width: 100%;
    }
  }
}
