<section class="use">
  <div class="container">
    <p class="use__title">OKRの活用例</p>
    <ul class="use__list">
      <li class="use__item">
        <img
          src="assets/images/use-item1.png"
          alt="OKR説明画像"
          class="use__img"
        />
        <dl class="use__data">
          <dd class="use__data-title">
            目標は、<br />
            高い理想で設定する。
          </dd>
          <dd class="use__text">
            <span>
              努力しないと達成できないようなOKRを設定します。
            </span>
            <span>
              挑戦的かつ現実的なOKRを設定することで、パフォーマンスを高めてくれ
            </span>
            <span>
              ます。
            </span>
          </dd>
        </dl>
      </li>

      <li class="use__container">
        <div class="use__img-block"></div>
        <img
          src="assets/images/use-item2.png"
          alt="OKR説明画像"
          class="use__img"
        />
        <dl class="use__data">
          <dd class="use__data-title">
            達成度の基準は、<br />
            60〜70％で成功とみなす。
          </dd>
          <dd class="use__text">
            <span>
              ゆるく設定しがちな、目標設定。
            </span>
            <span>
              「100％以外は成功ではない」とすると、気持ちが落ち着きません。
            </span>
            <span>
              余裕を持たせることが大切です。
            </span>
          </dd>
        </dl>
      </li>

      <li class="use__item">
        <img
          src="assets/images/use-item3.png"
          alt="OKR説明画像"
          class="use__img"
        />
        <dl class="use__data">
          <dd class="use__data-title">
            目標は、<br />
            四半期毎に更新します。
          </dd>
          <dd class="use__text">
            <span>
              OKRは1ヶ月〜3ヶ月ごとに見直すことが推奨されています。
            </span>
            <span>
              新しい情報を反映しやすくなったり、目標の難易度を調整したりすることで、
            </span>
            <span>
              より効果が見込めるよう改善するためです。
            </span>
          </dd>
        </dl>
      </li>
    </ul>
  </div>
</section>
