@import 'mixins';

.home {
  padding-top: 24px;

  &__path {
    text-decoration: none;
    color: inherit;
    &:hover {
      background-color: rgba(0, 0, 0, 0.12);
    }
  }
  &__title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 56px;
    span {
      font-size: 46px;
    }
  }
  &__card {
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    cursor: pointer;
    border-radius: 16px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.12);
    }
    @include sm {
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      cursor: pointer;
      border-radius: 16px;
      &:hover {
        background-color: rgba(0, 0, 0, 0.12);
      }
    }
  }
  &__button {
    display: flex;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  &__icon {
    margin-bottom: 12px;
    font-size: 36px;
    width: 36px;
    color: #1a73e8;
  }
  &__text {
    font-size: 14px;
    text-align: center;
    color: #1a73e8;
  }
  &__complete {
    display: block;
    text-decoration: none;
    color: inherit;
    &:hover {
      background-color: rgba(0, 0, 0, 0.12);
    }
  }
}
