<div class="home">
  <div class="container">
    <div class="home__title">
      <h1 class="home__title-content">OKR管理</h1>
    </div>
    <div class="home__grid">
      <ng-container *ngIf="okr; else blank">
        <ng-container *ngFor="let okr of okrs$ | async">
          <app-okr *ngIf="okr.isComplete" [okr]="okr"></app-okr>
        </ng-container>
        <ng-container *ngIf="secondOkrId; else notSecondOkrId">
          <a
            mat-raised-button
            color="primary"
            routerLink="/manage/secondOkr"
            [queryParams]="{ v: secondOkrId }"
            class="start-second-okr-edit home__create-second-okr"
          >
            進行中のOKRにすすむ
          </a>
        </ng-container>
        <ng-template #notSecondOkrId>
          <a
            mat-raised-button
            color="primary"
            routerLink="/manage/okr-edit"
            class="start-second-okr-edit home__create-second-okr"
          >
            2番目のOKRを作成する
          </a>
        </ng-template>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #blank>
  <div class="not-data">
    <img
      src="assets/images/no-data.svg"
      alt="OKR未作成画像"
      class="not-data__img"
    />
    <div class="not-data__content">
      <h1 class="not-data__title">OKRが作成されていません</h1>
      <p class="not-data__text">1番目のOKRを作成しましょう!</p>
    </div>
    <a
      mat-raised-button
      color="primary"
      [routerLink]="['/manage/edit']"
      class="not-data__action"
    >
      1番目のOKRを作成する
    </a>
  </div>
</ng-template>
