mat-form-field {
  display: block;
}

.main {
  display: block;
  padding: 24px 0;
}

.container {
  padding: 0 24px;
}

form {
  background-color: #fff;
  padding: 8px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}

.remcontents {
  color: rgba(55, 53, 47, 0.4);
  &:hover {
    background-color: rgba(0, 0, 0, 0.12);
  }
}

.addcontents {
  padding: 0px 8px;
  color: rgba(55, 53, 47, 0.4);
  font-size: 14px;
  box-shadow: none;
  &:hover {
    background-color: rgba(0, 0, 0, 0.12);
  }
}
