mat-form-field {
  display: block;
}

.main {
  display: block;
  padding: 24px 0;
}

.container {
  padding: 0 24px;
}

form {
  background-color: #fff;
  padding: 8px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
}
