<div class="create-parent-okr">
  <div class="create-parent-okr__body">
    <div class="container">
      <ng-container *ngIf="!okrIscomplete; else blank">
        <h3 class="create-parent-okr__title">新規OKR</h3>
        <form [formGroup]="form" (ngSubmit)="createOkr()">
          <div class="create-parent-okr__contents">
            <label class="create-parent-okr__lavel"
              >なりたい姿を入力(Objective)</label
            >
            <input
              formControlName="title"
              type="text"
              autocomplete="off"
              placeholder="例: 「有名になる」など"
              class="create-parent-okr__input"
            />
            <mat-error *ngIf="titleControl.hasError('maxlength')"
              >文字数は最大で20文字までです</mat-error
            >
          </div>

          <div class="create-parent-okr__contents">
            <div
              formArrayName="primaries"
              *ngFor="let primary of primaries.controls; let i = index"
              class="create-parent-okr__form-structure"
            >
              <label class="create-parent-okr__lavel"
                >目標を入力 {{ i + 1 }}つ目</label
              >
              <div class="create-parent-okr__form">
                <input
                  [formControlName]="i"
                  type="text"
                  autocomplete="off"
                  placeholder="例: 「30歳までにフォロワー1万人」など"
                  class="create-parent-okr__input"
                />
                <mat-error *ngIf="primary.hasError('maxlength')"
                  >文字数は最大で20文字までです</mat-error
                >
                <button
                  *ngIf="i"
                  class="create-parent-okr__remove-form"
                  type="button"
                  (click)="removeOption(i)"
                  mat-raised-button
                >
                  <mat-icon>remove</mat-icon>
                  削除
                </button>
              </div>
            </div>
            <button
              *ngIf="objectiveEdit < 3"
              class="add-form create-parent-okr__add-form"
              type="button"
              mat-raised-button
              (click)="addObjectiveForm()"
            >
              <mat-icon>add</mat-icon>
              追加
            </button>
          </div>
          <div class="second-step__action">
            <button
              [disabled]="form.invalid"
              mat-raised-button
              color="primary"
              class="create-okr-button second-step__next"
            >
              OKRを作成する
            </button>
          </div>
        </form>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #blank>
  <div class="no-data-first-okr">
    <div class="no-data-first-okr__wrapper">
      <h1 class="no-data-first-okr__title">OKRは作成済みです</h1>
      <img
        src="/assets/images/no-data.svg"
        alt="OKR作成済み画像"
        class="no-data-first-okr__image"
      />
      <a routerLink="/manage/home" mat-raised-button color="primary">
        OKRへすすむ
      </a>
    </div>
  </div>
</ng-template>
