<div class="legal">
  <h1 class="title">特定商取引法に基づく規約</h1>
  <div class="container">
    <div class="section">
      <dl>
        <h3>連絡先</h3>
        <dt>運営者： 向井田崚平</dt>
        <dt>メール： mr233425@gmail.com</dt>
        <dt>電話番号： 080-6058-9298</dt>
        <dt>※電話でのお問い合わせは受け付けておりません。</dt>
        <h3>その他、お客様に発生する金銭</h3>
        <dt>ご利用の際に必要となる通信料はお客様のご負担となります。</dt>
        <h3>支払い方法</h3>
        <dt>クレジットカード決済（Stripe）のみとなります。</dt>
        <dt>
          ストライプジャパン株式会社(以下、Stripe)が提供する決済システム「Stripe」を利用します。
          Stripeの利用条件、引き落とし時期及びその他Stripeに関する
          事項は、Stripe社が定める規約によるものとします。
        </dt>
        <h3>支払い時期</h3>
        <dt>ご利用のカード会社の引き落とし日になります。</dt>
        <h3>返金について</h3>
        <dt>基本的には返金には応じません。</dt>
        <h3>動作環境</h3>
        <p>
          アプリケーションによって利用環境・対応機種が異なります。各アプリケーションのダウンロードの前に、
          必ず各アプリケーションの詳細ページで利用環境・対応機種をご確認ください。
        </p>
      </dl>
    </div>
    <p>以上</p>
  </div>
</div>
