<ng-container class="not-okr-edit" *ngIf="isCompletes === true; else blank">
  <div class="not-okr-edit__wrapper">
    <h1 class="not-okr-edit__title">2番目のOKRは作成済みです</h1>
    <img
      src="/assets/images/no-data.svg"
      alt="OKR作成済み画像"
      class="not-okr-edit__no-data"
    />
    <a
      mat-raised-button
      color="primary"
      class="not-okr-edit__button"
      (click)="secondOkr()"
    >
      2番目のOKRへすすむ
    </a>
  </div>
</ng-container>

<ng-template #blank>
  <div class="okr-edit">
    <mat-horizontal-stepper #stepper class="stepper">
      <div class="container">
        <div class="first-step">
          <mat-step
            [stepControl]="secondFormGroup"
            errorMessage="Address is required."
          >
            <div class="okr-edit__header">2番目のOKRの作成(手順 1/2)</div>
            <div class="okr-edit__main">
              <p class="okr-edit__title">
                <span
                  class="tooltip"
                  data-tooltip="ここで作成した目標から今後のタスクを作成していきます。&#13;&#10;Key Resultに紐づいた目標が好ましいです。&#13;&#10;&#13;&#10;例)&#13;&#10;・技術者として売れる。&#13;&#10;・教養がある。&#13;&#10;・仲間と交流出来ている。"
                >
                  <span class="okr-edit__text">
                    Key Resultを達成するための
                  </span>
                  <span>
                    目標を設定しましょう！
                  </span>
                  <mat-icon>
                    help_outline
                  </mat-icon>
                </span>
              </p>
              <form [formGroup]="form">
                <div formArrayName="primaries">
                  <div *ngFor="let option of primaries.controls; let i = index">
                    <mat-form-field class="second-okr-form first-step__field">
                      <mat-label class="first-step__lavel">
                        目標を入力 {{ i + 1 }}つ目
                      </mat-label>
                      <input
                        [formControlName]="i"
                        type="text"
                        matInput
                        autocomplete="off"
                      />
                      <mat-error *ngIf="option.hasError('required')"
                        >必須入力です</mat-error
                      >
                      <mat-error *ngIf="option.hasError('maxlength')"
                        >文字数は最大で40文字までです</mat-error
                      >
                    </mat-form-field>
                    <button
                      *ngIf="i"
                      mat-raised-button
                      type="button"
                      (click)="removeOption(i)"
                      class="first-step__remcontents"
                    >
                      <mat-icon>remove</mat-icon>
                      削除
                    </button>
                  </div>
                </div>
              </form>
              <button
                *ngIf="objectForm < 3"
                class="add-form first-step__addcontents"
                type="button"
                mat-raised-button
                (click)="addOptionForm()"
              >
                <mat-icon>add</mat-icon>
                追加
              </button>
              <div class="first-step__action">
                <button
                  (click)="secondStepOkr(1)"
                  mat-button
                  matStepperNext
                  [disabled]="primariesControl.invalid"
                  mat-raised-button
                  color="primary"
                  class="okr-edit__next"
                >
                  次へ
                </button>
                <img
                  class="first-step__img"
                  src="assets/images/second-okr-first-step.svg"
                  alt="フォーム画像"
                />
              </div>
            </div>
          </mat-step>
        </div>

        <div class="second-step">
          <mat-step
            [stepControl]="thirdFormGroup"
            errorMessage="Address is required."
          >
            <div class="okr-edit__header">2番目のOKRの作成(手順 2/2)</div>
            <div class="okr-edit__main">
              <p class="okr-edit__title">
                <span
                  class="tooltip"
                  data-tooltip="作業期間は3ヶ月が推奨です。&#13;&#10;四半期毎で作成していきましょう!&#13;&#10;&#13;&#10;例)&#13;&#10;・開始日が1月1日&#13;&#10;　→1月1日から3ヶ月後の&#13;&#10;　　4月1日までを実施期間とする"
                >
                  <span class="okr-edit__text">
                    最後になります。
                  </span>
                  <span>
                    開始日と終了日を入力しましょう！
                  </span>
                  <mat-icon>
                    help_outline
                  </mat-icon>
                </span>
              </p>
              <form [formGroup]="form" (ngSubmit)="cleateSecondOkr()">
                <mat-form-field
                  appearance="fill"
                  class="second-okr-callender second-step__field"
                >
                  <mat-label class="second-step__lavel"
                    >開始日と終了日の入力</mat-label
                  >
                  <mat-date-range-input
                    [min]="minDate"
                    [max]="maxDate"
                    [formGroup]="form"
                    [rangePicker]="picker"
                  >
                    <input matStartDate formControlName="start" />
                    <input matEndDate formControlName="end" />
                  </mat-date-range-input>
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                  <mat-error *ngIf="form.controls.start.hasError('required')"
                    >必須入力です</mat-error
                  >
                  <mat-error
                    *ngIf="form.controls.start.hasError('matStartDateInvalid')"
                    >開始日を入力して下さい</mat-error
                  >
                  <mat-error
                    *ngIf="form.controls.end.hasError('matEndDateInvalid')"
                    >終了日を入力して下さい</mat-error
                  >
                </mat-form-field>
                <div class="second-step__action">
                  <button
                    mat-button
                    matStepperPrevious
                    class="second-step__button"
                  >
                    戻る
                  </button>
                  <button
                    [disabled]="
                      startControl.invalid || endControl.invalid || form.invalid
                    "
                    mat-button
                    mat-raised-button
                    color="primary"
                    class="create-secondOkr okr-edit__next"
                  >
                    OKRを作成
                  </button>
                </div>
              </form>
              <img
                class="okr-edit__img"
                src="assets/images/second-step-item.svg"
                alt="フォーム画像"
              />
            </div>
          </mat-step>
        </div>
      </div>
    </mat-horizontal-stepper>
  </div>
</ng-template>
