@import 'variables';
@import 'mixins';

::ng-deep .mat-form-field-label-wrapper {
  top: -36px !important;
  overflow: inherit !important;
}

::ng-deep .mat-form-field-infix {
  padding: 0 0 0 0 !important;
  width: 100% !important;
  .mat-input-element {
    font-size: 32px !important;
    @include sm {
      font-size: 24px !important;
    }
  }
}

::ng-deep .second-step .mat-form-field-infix {
  padding: 0 0 0 0 !important;
  width: 100% !important;
  .mat-input-element {
    font-size: 32px !important;
    @include sm {
      font-size: 24px !important;
    }
  }
}

::ng-deep .mat-date-range-input-start-wrapper .mat-date-range-input-inner {
  position: inherit !important;
  top: 9px !important;
}

::ng-deep .mat-date-range-input-start-wrapper {
  max-width: calc(38% - 0px) !important;
}

::ng-deep .mat-date-range-input-inner {
  font-size: 24px !important;
}

::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}

.tooltip {
  margin-bottom: 8px;
  mat-icon {
    vertical-align: super;
    vertical-align: text-top;
  }
}
.tooltip {
  display: inline-block;
  position: relative;
}
.tooltip::before,
.tooltip::after {
  -webkit-transition: all 0.2s;
  opacity: 0;
  position: absolute;
  transition: all 0.2s;
  visibility: hidden;
  z-index: 11;
}

.tooltip::before {
  -webkit-transform: translateY(-50%);
  border-color: transparent #5f6368 transparent transparent;
  border-style: solid;
  border-width: 3px 7px 3px 0;
  content: '';
  height: 0;
  left: calc(100% + 6px);
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  @include md {
    border-right: 6.25px solid transparent;
    border-bottom: 10px solid #424242;
    border-left: 6.25px solid transparent;
    top: 117px;
    left: calc(3% + 6px);
  }
  @include sm {
    top: 73px;
  }
}

.tooltip::after {
  -webkit-transform: translateY(-50%);
  background: #424242;
  border-radius: 3px;
  color: #fff;
  border-radius: 12px;
  content: attr(data-tooltip);
  line-height: 1.7;
  display: block;
  font-size: 14px;
  font-weight: 500;
  left: calc(100% + 13px);
  padding: 8px 18px;
  top: 50%;
  transform: translateY(-50%);
  white-space: pre;
  @include md {
    left: calc(0% + 0px);
    top: 195%;
  }
  @include sm {
    top: 155px;
  }
}

.tooltip:hover {
  color: #757575;
}

.tooltip:hover::before {
  opacity: 1;
  visibility: visible;
}

.tooltip:hover::after {
  opacity: 1;
  visibility: visible;
}

.not-okr-edit {
  &__wrapper {
    padding-top: 48px;
    text-align: center;
    @include sm {
      padding: 40px 0;
    }
  }
  &__title {
    font-size: 24px;
    margin: 0 0 32px 0;
    @include sm {
      font-size: 20px;
    }
  }
  &__no-data {
    width: 100%;
    height: 200px;
    display: block;
    margin-bottom: 32px;
  }
}

.stepper {
  background-color: transparent;
}

.container {
  @include sm {
    padding: 0 16px;
  }
}

.okr-edit {
  @include sm {
    padding: 30px 0;
  }
  &__add-objective {
    padding: 0;
    color: rgba(55, 53, 47, 0.4);
    font-size: 16px;
    box-shadow: none;
    &:hover {
      background-color: rgba(0, 0, 0, 0.12);
    }
  }
  &__header {
    padding: 56px 0 0 84px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 20px;
    letter-spacing: 2px;
    @include sm {
      padding: 0 0 16px;
      font-size: 16px;
    }
  }
  &__main {
    padding: 40px 0 0 108px;
    max-width: 782px;
    @include sm {
      padding: 0;
    }
  }
  &__title {
    letter-spacing: 2px;
    font-size: 36px;
    @include sm {
      font-size: 20px;
    }
  }
  &__text {
    display: block;
  }
  &__img {
    position: fixed;
    right: 0;
    width: 450px;
    bottom: 150px;
    z-index: 3;
    @include photo {
      display: none;
    }
  }
  &__sidebar {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    width: 320px;
    z-index: -1;
    background-color: #bdbdbd;
    @include photo {
      display: none;
    }
  }
  &__next {
    width: 120px;
    height: 40px;
    &:hover {
      background-color: #9e9e9e;
    }
  }
}

.first-step {
  &__field {
    display: inline-block;
    max-width: 540px;
    @include sm {
      padding-bottom: 0;
      margin-bottom: 20px;
    }
  }
  &__lavel {
    font-size: 32px;
    @include sm {
      font-size: 24px;
    }
  }
  &__addcontents {
    padding: 0;
    color: rgba(55, 53, 47, 0.4);
    font-size: 16px;
    box-shadow: none;
    display: block;
    background-color: inherit;
    margin-bottom: 12px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.12);
    }
  }
  &__remcontents {
    color: rgba(55, 53, 47, 0.4);
    &:hover {
      background-color: rgba(0, 0, 0, 0.12);
    }
  }
}

.second-step {
  &__field {
    display: block;
    max-width: 360px;
  }
  &__lavel {
    padding: 30px 0 0 0;
    font-size: 24px;
    @include sm {
      font-size: 24px;
    }
  }
  &__action {
    display: flex;
    justify-content: space-between;
  }
}
